:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-title: #212121;
  --back-color: #f5f4fa;
  --text-color: #757575;
  --color-f: #ffffff;
  --color-about: #e5e5e5;
  --transition-duration:250ms ;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*=============overlay==========*/

.svg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

/*=======Heder======*/
.heder-conteiner {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: var(--color-f);
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--color-title);
}
.border {
  border-bottom: 1px solid #ececec;
}

.heder-nav {
  display: flex;
  align-items: center;
}
.link-logo {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  margin-right: 93px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo-span {
  color: black;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title);
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: color; 
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}


.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after{
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}


.body {
  font-family: var(--main-font);
  background-color: var(--color-f);
  color: var(--text-color);
}
.phone-mail,
.phone-mail-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property:color, fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-mail-item:not(:last-child) {
  margin-right: 50px;
}
.phone-mail-link:hover,
.phone-mail-link:focus {
  color: var(--accent-color);
}
/*==================End Heder==============*/
/*===================Hero==================*/
.hero-list {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
  color: #ffffff;
}
.hero {
  background-color: #c4c4c4;
  min-height: 600px;
  padding-top: 200px;
   max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/about/gpghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .conteiner{
    text-align: center;
}
.button-text {
  font-family: var(--main-font);
  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06;
  fill: Solid;
  color: ffffff;
}


.hero-button {
   margin: 0 auto;
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  display: block;
  font-family: inherit;
  font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
    color: #ffffff;    
    cursor: pointer;
    display: inline-block;
    padding: 10px 32px;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    
}
.botton:focus,
.botton:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.botton {
  background-color: var(--back-color);
}
.botton {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
    transition-property: background-color, box-shadow;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
/*==================Advantages==================*/
.advantages-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
  margin-bottom: 10px;
}

.advantages-section {
  padding-top: 94px;
  padding-bottom: 0px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list {
  display: flex;
}
.advantages-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-use {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/*===================END Advantages===============*/

/*===================ABOUT=========================*/
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list {
  display: flex;
}

.about-item{
position: relative;
}
.about-img{
 
}
.about-div-p{
  position: absolute;
height: 70px;
width: 100%;
background-color:rgba(47, 48, 58, 0.8);
display: flex;
justify-content: center;
align-items: center;
bottom: 0;
right: 0;
}
.about-p{
  
font-family:var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
/*=================END ABOUT===============*/
.img-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  margin-bottom: 4px;
}
.img-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/*==================TEAM====================*/
.team-title-caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--color-title);
}
.team {
  background-color: #f5f4fa;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.team-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color:var(--color-f);
}
.team-div {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title-caption {
  margin-bottom: 50px;
}

.team-icon-list {
  display: flex;
  justify-content: space-between;
}
.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
 transition-property: background-color;
    transition-duration:250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:focus,
.team-icon-link:hover {
  background-color: var(--accent-color);
}

.team-icon-link:focus .team-icon,
.team-icon-link:hover .team-icon {
  fill: var(--color-f);
}

/*=============END TEAM=====================*/

/*------------Client--------------*/
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  font-family: var(--main-font);
  font-style: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;

  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.client-li:not(:last-child) {
  margin-right: 30px;
}

.client-li {
  
}

  
.client-link:focus,
.client-link:hover{
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.client-svg {
  width: 106px;
  height: 60px;
  color:#AFB1B8;;

}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  width: 170px;
  fill:#AFB1B8 ;
  transition-property: border-color,fill;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*==============main-section=================*/
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.botton-link-conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.botton-link-item:not(:last-child) {
  margin-right: 8px;
}
.botton-link-item:hover,
.botton-link-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.botton {
  padding: 6px 22px;
  border-radius: 4px;
  min-height: 26px;
  border-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
}
/*================Project==================*/

.img-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
  margin-right: -30px;
}

.card {
  margin-bottom: 30px;
  margin-right: 30px;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-progect {
  display: block;
  width: 370px;
 
}

.link-progect:hover .overlays,
.link-progect:focus .overlays {
  transform: translateY(0%);
}

.progect-over {
  position: relative;
  overflow: hidden;
  
}
.card-title {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid#EEEEEE;
}
.overlays {
  top: 0;
  left: 0;
  position: absolute;
  color: var(--color-f);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

/*=============FOOTER=======================*/

.gps {
  color: #ffffff;
   transition-property:color;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gps:hover,
.gps:focus {
  color: var(--accent-color);
}
.footer-address {
  font-style: normal;
}
.footer {
  background-color: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.footer-list a {
  color: rgba(255, 255, 255, 0.6);
}

.logo-end {
  color: #ffffff;
}

.footer-list a:focus,
.footer-list a:hover {
  color: var(--accent-color);
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property:color;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}
.footer .link-logo {
  margin-bottom: 20px;
  margin-right: 0px;
}
.footer-link-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 70px;
}
.footer-link-list > li:not(:last-child) {
  margin-right: 10px;
}
.team-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--color-f);
}
.footer-link-title {
  margin-left: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.link-footer-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-footer-svg:focus,
.link-footer-svg:hover {
  background-color: var(--accent-color);
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-div-adress {
}
.footer-links {
  margin-left: 70px;
  
}
.logo-foot { 
  font-family:var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}
/*===============END FOOTER===============*/
/*==============bacdrop modal==============*/
.bacdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property:opacity, visibility;
    transition-duration:var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility:hidden;
}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
min-width: 528px;
min-height: 581px;
padding: 40px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}
.icon-close{
  width: 11px;
  height: 11px;
   top: 0;
 right: 0;
}
.data-modal-button{
  position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 cursor: pointer;
 top: 8px;
 right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.data-modal-button:hover,
.data-modal-button:focus{
  fill: var(--accent-color);
}
.modal-form-head{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color:var(--color-title);
  text-align: center;
  margin-bottom: 30px;

}

.modal-form-filed{
  display: flex;
  flex-direction: column;
}


.modal-form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px; 
  padding-left: 42px;
  border-color: 250ms ;
}
 .modal-form-input:hover,
 .modal-form-input:focus{
  border-color:  var(--accent-color);
  outline: none;
}
.modal-form-input:hover+.modal-user-svg,
.modal-form-input:focus+.modal-user-svg {
  fill:var(--accent-color) ;
}
.modal-form-btn{
  display: flex;
}


.modal-form-filed{
font-family:var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: #757575;
}
.modal-form-filed:not(:last-child){ margin-bottom: 10px;}

.modal-user-svg{
  position: absolute;
  top: 50%; ;
  left:12px ;
  transition: fill 250ms linear;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.modal-form-coment{
  
}

.modal-form-input-wrapper{
  position: relative;
  margin-top: 6px;
  display: block;
}
.modal-form-checkbox{
  
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
 
}

.modal-form-text-coment{
  width: 100%;
  margin-top: 6px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-form-text-coment:focus,
.modal-form-text-coment:hover{
  outline: none;
  border-color: var(--accent-color);
  transition: fill 250ms linear;
}