:root{
    --main-font:'Roboto', sans-serif;
    --second-font:'Raleway', sans-serif;
    --accent-color:#2196F3;
    --color-title:#212121;
    --back-color:#F5F4FA;
    --text-color:#757575;
    --color-f:#FFFFFF;
    --color-about:#E5E5E5;
}  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p{ 
        margin-top: 0;
        margin-bottom: 0;
    }
    ul,
    ol{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    img{
        display: block;
    }
    .conteiner{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    

    }
/*=======Heder======*/
.heder-conteiner{
    display: flex;
   justify-content: space-between;

}
.header{
    background-color: var(--color-f);
    padding-top:32px ;
    padding-bottom: 32px;
   color: var(--color-title);
   
}
.border {border-bottom: 1px solid #ECECEC;}
.heder-nav{
    display: flex;
    align-items: center;
}
.link-logo{
font-family:var(--second-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
display: block;
}
.nav-list { 
    display: flex;
    align-items: center;

}
.logo-span{

    color: black;
}
.menu-item{
     color: black;
}
.menu-item:hover,
.menu-item:focus{
color: var(--accent-color);
} 
.link{
    text-decoration: none;
}
.list {
    list-style: none;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.nav-list-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-title);
}
.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.phone-mail {
    display: flex;
    align-items: center;
}
.nav-list-link:hover,
.nav-list-link:focus{
    color: var(--accent-color) ;
}
.nav-list-link.link.current{
    color: var(--accent-color);
}

.body{
    font-family:var(--main-font);
   background-color: var(--color-f); color:var(--text-color);}
   .phone-mail-link{
    color:var(--text-color);}
    
    .phone-mail-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    display: block;

    } 

    .phone-mail-item:not(:last-child){
    margin-right: 50px;
    }
.phone-mail-link:hover,
.phone-mail-link:focus{
    color: var(--accent-color);
}
/*==================End Heder==============*/
/*===================Hero==================*/
.hero-list{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
max-width: 696px;
margin: 0 auto 30px;
color: #FFFFFF;

}
.hero{
    background-color: #2F303A;
   min-height: 600px;
   padding-top: 200px;
    
}



    
}

.button-text{
font-family:var(--main-font);
font-style: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing;: 6%
fill:  Solid;
  color:ffffff;  
  padding: 10px 32px;
}
.hero-button{
    font-weight: bold;
    font-size: 16px;
    line-height:1.87;
    color: #FFFFFF;
    margin: 0 auto 200px ;
    border-radius: 4px; 
    
}
.hero-button{
    cursor:pointer
}
.hero-button{ background-color: var(--accent-color);
   min-width:  200px;
    height: 50px; 
    display: block;
}
.botton:focus,
.botton:hover{
    background-color:var(--accent-color);
    color: #FFFFFF;
}

.botton{ background-color: var(--back-color);}
.botton{
font-family:var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
/*==================Advantages==================*/
.advantages-list-title{ 
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-title);
padding-bottom: 10px;

}

.advantages-section{ 
    padding-top: 94px;
    padding-bottom:0px;
    background-color:var(--color-about);
}

.advantages-list-item:not(:last-child){
    margin-right: 30px;
}

.advantages-list{
    display: flex;

}
.advantages-list-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*===================END Advantages===============*/

/*===================ABOUT=========================*/
.about{
    background-color:var(--color-about) ;
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-title{
font-weight: bold;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-title);
margin-bottom: 50px;
} 


.about-item:not(:last-child){ 
 margin-right:30px ;
    
}

.about-list {
    display: flex;
}
/*=================END ABOUT===============*/
.img-title{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-title);
margin-bottom: 4px;
} 
.img-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color:var(--text-color);
}


/*==================TEAM====================*/
.team-title-caption {  
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color:var(--color-title)
    
}
.team{
    background-color:var(--back-color);
}
.team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-title);
margin-bottom: 10px;
  
}
.team-text{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

}

.team-section{
    
    padding-top: 94px;
    padding-bottom: 94px;

   background-color:var(--back-color);
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
margin-left: -30px;}
     
.team-item{ 
    margin-top: 30px;
    margin-left: 30px;
}

.team-div{
    padding: 10px 10px;
}
    
}
 
.team-title-caption{margin-bottom: 50px;}


/*=============END TEAM=====================*/

/*==============main-section=================*/
.main-section{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:var(--color-about);
}

.botton-link-conteiner{
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
    margin-bottom: 50px;
}

.botton-link-item:not(:last-child){
    margin-right: 8px;
}
.botton{
    padding: 6px 22px; 
border-radius: 4px;
min-height: 26px;}
/*================Project==================*/

.img-list{
    flex-wrap: wrap;
     display: flex; 
     justify-content: center;
     margin-bottom: -30px;
     margin-right: -30px;
 }
   
   
.card{
    margin-bottom:30px;
    margin-right: 30px;
    width: 370px;
}

.card-title{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid#EEEEEE;
}
/*=============FOOTER=======================*/
.nav-list-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-title);
}
.gps{
   color: #FFFFFF;
}
.gps:hover,
.gps:focus{
    color: var(--accent-color);
}
.footer-address
{font-style:normal ;}
.footer{ 
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:
#2F303A; 
display: block;
}

.footer-list a {
    color:rgba(255, 255, 255, 0.6);
}

.logo-end{color: #FFFFFF;

}

.footer-list a:focus,
.footer-list a:hover{
    color: var(--accent-color);
}
.footer-link{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);


} 
.footer-item:not(:last-child){ margin-bottom: 9px; 
display: block;}
.footer .link-logo{
    margin-bottom: 20px;
    margin-right: 0px;
}
/*===============END FOOTER===============*/