:root{
    --main-font:'Roboto', sans-serif;
    --second-font:'Raleway', sans-serif;
    --accent-color:#2196F3;
    --color-title:#212121;
    --back-color:#F5F4FA;
    --text-color:#757575;
}
/*=======Heder======*/
.link-logo{
font-family:var(--second-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);

}
.logo-span{
    color: black;
}
.menu-item{
     color: black;
}
.menu-item:hover,
.menu-item:focus{
color: var(--accent-color);
} 
.link{
    text-decoration: none;
}
.list {
    list-style: none;
}

}
.nav-list-link{
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-title);
}

.nav-list-link:hover,
.nav-list-link:focus{
    color: var(--accent-color) ;
}
.nav-list-link.link.current{
    color: var(--accent-color);
}

.body{
    font-family:var(--main-font);
   background-color: #FFFFFF; color:#757575;}
   .phone-mail-link{
    color: #757575;}
    
    .phone-mail-link{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    }

.phone-mail-link:hover,
.phone-mail-link:focus{
    color: var(--accent-color);
}
/*==================End Heder==============*/
/*===================Hero==================*/
.hero-list{
font-family:var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}
.hero{
    background-color: #2F303A;
}



.hero-button{ 
font-family: var(--main-font);   
font-weight: bold;
font-size: 16px;
line-height:1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
.hero-button{
    cursor:pointer
}
.hero-button{ background-color: var(--accent-color);
}
.botton:focus,
.botton:hover{
    color:var(--accent-color);
}

.botton{ background-color: var(--back-color);}
/*==================Advantages==================*/
.advantages-list-title{ 
font-family:var(--main-font);
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--color-title);

}
.advantages-list-text{
font-family:var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;  
}
/*===================END Advantages===============*/

/*===================ABOUT=========================*/
.about-title{
font-family:var(--main-font);
font-weight: bold;
font-size: 36px;
line-height:1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-title);
}
/*=================END ABOUT===============*/
.img-title{
font-family:var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-title);
} 
.img-text{
font-family:var(--main-font);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color:var(--text-color);
}


/*==================TEAM====================*/
.team-title-caption {  
font-family:var(--main-font);
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color:var(--color-title)
    
}
.team{
    background-color: #F5F4FA;;
}
.team-title{
font-family:var(--main-font)
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-title)
  
}
.team-text{font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

}
/*=============END TEAM=====================*/

/*=============FOOTER=======================*/
.nav-list-link{
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-title);
}
.gps{
   color: #FFFFFF;
}
.gps:hover,
.gps:focus{
    color: var(--accent-color);
}
.footer-address
{font-style:normal ;}
.footer{
    background-color:
#2F303A;
}

.footer-list a {
    color:rgba(255, 255, 255, 0.6);
}

.logo-end{color: #FFFFFF;

}

.footer-list a:focus,
.footer-list a:hover{
    color: var(--accent-color);
}
.footer-link{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);



}
/*===============END FOOTER===============*/